:root {
    --primary-color: #4A90E2;
    --secondary-color: #D4E4F7;
    --accent-color: #2C6BA0;
    --text-color: #ffffff;
    --bg-color: #F5F8FC;
}

.egész {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--text-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    animation: fadeIn 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    width: 100%;
    top: 0;
    left: 0;
}

h1 {
    font-family: "Copperlatte", "Courier New", monospace;
}

h1:hover {
    font-weight: 900;
    color: var(--text-color);
}

#sima_bekezdes:hover {
    color: var(--text-color);
    font-weight: 700;
}

main {
    animation: fadeIn 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

header:hover {
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#task-input {
    background-color: var(--bg-color);
    color: black;
    opacity: 1;
}

#task-input:hover {
    background-color: #FF9800;
    color: var(--text-color);
    border-color: #FF5722;
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.7), 0 0 30px rgba(255, 152, 0, 0.5);
    transform: scale(1.05) rotate(1deg);
}

#add-task-btn {
    font-weight: 700;
}

#add-task-btn:hover {
    border-color: #FF5722;
    transform: scale(1.05) rotate(1deg);
    background-color: #FF9800;
    color: var(--text-color);
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.7), 0 0 30px rgba(255, 152, 0, 0.5);
}

#task-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#task-list img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: fadeIn 3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#footer_p:hover {
    color: #FF5722;
}

.edit-btn:hover {
    border-color: #FF5722;
    transform: scale(1.05) rotate(1deg);
    background-color: #FF9800;
    color: var(--text-color);
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.7), 0 0 30px rgba(255, 152, 0, 0.5);
}

.delete-btn:hover {
    border-color: #FF5722;
    transform: scale(1.05) rotate(1deg);
    background-color: #FF9800;
    color: var(--text-color);
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.7), 0 0 30px rgba(255, 152, 0, 0.5);
}

.edit-btn {
    margin-left: 5px;
}

.delete-btn {
    margin-left: 5px;
}
